.login{
   height: calc(100vh - 550px);
   display: flex;
   align-items: center;
   justify-content: center; 
}

.inputArea {
    flex:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    bottom: 10px;;
}

.loginArea{
    background-color: white;
    opacity: 90%;
    width: 455px;
    height: 305px;
    -webkit-box-shadow: 0px 5px 33px -21px grey;
    -moz-box-shadow: 0px 5px 33px -21px grey;
    box-shadow: 0px 5px 33px -12px grey;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.loginButton{
    width: 150px;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.google {
    background-color: red;
}

.facebook{
    background-color: #215aaf;
}

.icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.form-control {
    width: 200px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.submit {
    width: 200px;
    background-color: #215aaf;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1;
}

.loginTitle {
    position: absolute;
    top: 245px;
    text-decoration-color: black;
    z-index: 1;
}

.topText {
    color: black;
    display: flex;
    position: absolute;
    top: 245px;
}

.ambercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}