body{
    background-image: url(../img/PetProject.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    flex-direction: row;
}