.navbar{
    background-color: rgb(35, 136, 26);
    max-height: 130px;
    padding-right: 50px;
    padding-left: 50px;
}

.description {
   text-align:center;
   display: flex;
   align-items: center;
   padding-right: 50px;
   padding-left: 50px;
}