.formregister{

    display: flex;
    align-items: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.row2{
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 33px -21px rgb(8, 8, 8);
    -moz-box-shadow: 0px 5px 33px -21px rgb(12, 12, 12);
    box-shadow: 0px 5px 33px -12px rgb(31, 31, 31);
}